<h1> Women's Rowing Fan Page </h1>

<div class = container>
	
	{{#each rowers}}

		<div class = "row">
			<div class = "col-md-3 name-pod">
				<a href="http://www.mitathletics.com{{link}}"><h3>{{name}}</h3></a>
				<h5>{{hometown}} </h5>
				<p>{{major}} | {{class_year}} | {{height}} </p>
			</div>
			<div class= "col-md-2">
				<img src="http://www.mitathletics.com{{img}}">
			</div>
			<div class = "col-md-4">
				<div class = "cheer-pod">
					<ul>
						
						{{#each comments}}
							<div class = "row"> 
								<div class = "col-md-10"> 
									<li> {{this}}
									</li>
								</div> 
								<div class = "col-md-1">
									<form id="myform" method="post" action="/remove/{{../_id}}/{{@index}}">
									  <input type="hidden" name="comments" value="{{../comments}}" /> 
									  <a onclick="document.getElementById('myform').submit();">X</a>
									</form>
								</div>
							</div>
						{{/each}}
					</ul>
				</div>
			</div>
			<div class= "col-md-3">
				<br><br>
				<form action="/cheer/{{_id}}" method = "post">
					<textarea name="comment">Go Tech!</textarea>
					<br>
					<button class="btn btn-danger" type="submit">CHEER</button>
				</form>
			</div>
		</div>

		<hr>


	{{/each}}
</div>